.shade{display:none;position:absolute;left:0;top:0;background-color:#282828;width:100%;height:100%;}
.popup-wrap{display:none;_position:absolute;position:fixed;z-index:1000;}
.no-btn{width:16px;height:16px;right:22px;top:20px;text-indent:-99999em;display:block;background:url(http://imgs.xin.com/xin/images/car-detail/popicon.png) 0 -263px no-repeat}
.no-btn2{width:65px;height:50px;right:0px;top:0px;display:block;background:url(http://imgs.xin.com/xin/images/car-detail/close_btn.png);}
.no-btn2:hover{background:url(http://imgs.xin.com/xin/images/car-detail/close_btnh.png);}
.no-btn3{width:25px;height:25px;right:15px;top:15px;text-indent:-99999em;display:block;background:url(http://imgs.xin.com/xin/images/car-detail/popicon.png) 0 -90px no-repeat;}
.popup-wrap .telbox{width:650px;height:410px;padding:30px 50px 0;border:1px solid #e2e2e2;border-radius:6px;background:white}
.popup-wrap .telbox .qr{width:207px;height:322px;border-right:1px solid #e9e9e9;float:left}
.popup-wrap .telbox .qr p{font:normal 14px/25px "Microsoft YaHei";padding-left:30px;color:#333333;background:url(http://imgs.xin.com/xin/images/car-detail/popicon.png) 0 4px no-repeat}
.popup-wrap .telbox .qr img{margin:10px 0;border:1px solid #e9e9e9;}
.popup-wrap .telbox .msn{width:410px;float:right}
.popup-wrap .telbox .msn p{font:normal 14px/25px "Microsoft YaHei";padding-left:30px;margin-bottom:10px;color:#333333;background:url(http://imgs.xin.com/xin/images/car-detail/popicon.png) 0 -46px no-repeat}
.popup-wrap .telbox .msn .msncon{width:408px;height:134px;margin-left:-10px;font:normal 14px/22px "Microsoft YaHei";color:#333333;background:url(http://imgs.xin.com/xin/images/car-detail/poup_bg.png) no-repeat;}
.popup-wrap .telbox .msn .msncon span{display:block;width:370px;height:114px;overflow:hidden;padding:10px 25px;}

/*
.popup-wrap .telbox .msn .msncon .tip{width:11px; height:11px; margin-left:-30px; background:url(http://imgs.xin.com/xin/images/car-detail/popicon.png) 0 -190px no-repeat; }
*/
.popup-wrap .telbox .msn dl{padding-top:10px;}
.popup-wrap .telbox .msn dl dd{padding-top:10px;}
.popup-wrap .telbox .msn dl dd em{width:60px;font:normal 14px/34px "Microsoft YaHei";text-align:center;display:inline-block;}
.popup-wrap .ipho-err{display:inline-block;width:140px;margin-left:5px;height:35px;text-indent:2.5em;font:normal 12px/35px "Microsoft YaHei";color:#ee394b;background:url(http://imgs.xin.com/xin/images/car-detail/bticon.png) 0 -379px no-repeat;}
.popup-wrap .rea-err{display:inline-block;width:240px;margin:10px 0 0 110px;height:35px;text-indent:3.5em;font:normal 12px/35px "Microsoft YaHei";color:#ee394b;background:url(http://imgs.xin.com/xin/images/popup/pop_icon.png) 0 -666px no-repeat;}
.popup-wrap .telbox .msn dl input.Input1{width:170px;height:34px;color:#999;padding:0 10px;border:1px solid #d6d6d6;border-radius:6px;font:normal 14px/34px "Microsoft YaHei";vertical-align:middle;}
.popup-wrap .telbox .msn dl input.Input2{width:90px;height:34px;color:#999;padding:0 10px;border:1px solid #d6d6d6;border-radius:6px;font:normal 14px/34px "Microsoft YaHei";vertical-align:middle;}
.popup-wrap .telbox .msn dl a.getNum{vertical-align:middle;display:inline-block;margin-left:4px;}
.popup-wrap .telbox .msn dl a.send{width:120px;height:40px;text-align:center;margin-left:63px;font:normal 16px/40px "Microsoft YaHei";color:#fff;background:url(http://imgs.xin.com/xin/images/car-detail/bticon.png) 0 -155px no-repeat;display:block;}
.popup-wrap .teldown{width:731px;height:64px;border-top:1px solid #e2e2e2;padding-left:20px;background:#f7f7f7;bottom:1px;display:inline-block;border-radius:0 0 6px 6px}
.popup-wrap .teldown span{display:inline-block;vertical-align:middle;}
.popup-wrap .teldown span em{font:normal 14px/30px "Microsoft YaHei";color:#333333;padding:10px 25px 0 2px;display:inline-block;}
.popup-wrap .teldown img{padding:14px 0 0 10px;}
.popup-wrap .teldown img span{vertical-align:middle;display:inline-block;}
.popup-wrap .teldown a{vertical-align:middle;display:inline-block;text-indent:-9999em;margin:10px 0 0 10px;}
.popup-wrap .teldown a.ipho{width:110px;height:36px;background:url(http://imgs.xin.com/xin/images/car-detail/bticon.png) 0 -246px no-repeat;}
.popup-wrap .teldown a.andr{width:113px;height:36px;background:url(http://imgs.xin.com/xin/images/car-detail/bticon.png) 0 -319px no-repeat;}

/*汽车详情页修改弹出层样式*/
.popup-wrap .textreport{width:680px;height:540px;background:white;border-radius:6px;}
.popup-wrap .textreport .report-title{height:50px;width:680px;font:normal 14px/50px "Microsoft YaHei";text-indent:20px;color:white;background:url(http://imgs.xin.com/xin/images/car-detail/clocse2.png) no-repeat;}
.popup-wrap .textreport .report-title em{font:bold 16px/50px "Microsoft YaHei";}
.popup-wrap .textreport .tip{padding:10px 10px;margin:10px 20px;font:normal 14px/22px "Microsoft YaHei";background:#eeeeee;border-radius:6px;}
.popup-wrap .textreport .cause{height:68px;}
.popup-wrap .textreport .cause span,.popup-wrap .textreport .sup span,.popup-wrap .textreport .tel span{width:68px;font:normal 14px/34px "Microsoft YaHei";text-align:center;display:inline-block;}
.popup-wrap .textreport .cause span{vertical-align:top;padding-left:20px;float:left;}
.popup-wrap .textreport .cause span em{color:red;padding-right:4px;}
.popup-wrap .textreport .cause ul{height:68px;width:540px;float:right;margin-right:30px;}
.popup-wrap .textreport .cause ul li{float:left;width:135px;font:normal 14px/34px "Microsoft YaHei";color:#666666;}
.popup-wrap .textreport .cause input{margin-right:5px;line-height:34px;}
.popup-wrap .textreport .sup{margin-bottom:10px;overflow:hidden;zoom:1;}
.popup-wrap .textreport .sup span{vertical-align:top;padding-left:25px;float:left;}
.popup-wrap .textreport .sup textarea.tare{width:520px;height:65px;font:normal 14px/14px "Microsoft YaHei";color:#999;padding:10px 10px;border:1px solid #d6d6d6;border-radius:6px;float:right;margin:10px 30px 0 0;}
.popup-wrap .textreport .tel{margin-top:15px;}
.popup-wrap .textreport .tel span{vertical-align:top;padding-left:36px;}
.popup-wrap .textreport .tel em{color:#ff5837;margin-left:-12px;padding-right:4px;font:normal 14px/32px "Microsoft YaHei";}
.popup-wrap .textreport .tel input.Input{width:200px;height:14px;font:normal 14px/14px "Microsoft YaHei";color:#999;padding:10px 8px;border:1px solid #d6d6d6;border-radius:6px;vertical-align:middle;}
.popup-wrap .textreport .tel img{vertical-align:middle;}
.popup-wrap .textreport .tel .warn{padding:10px 0 0 68px;font:normal 14px/22px "Microsoft YaHei";color:#999;margin-left:40px;}
.popup-wrap .textreport a.submit{width:120px;height:40px;text-align:center;margin:20px auto;font:normal 16px/40px "Microsoft YaHei";color:white;background:url(http://imgs.xin.com/xin/images/car-detail/bticon.png) 0 -155px no-repeat;display:block;}

/*汽车详情页修改弹出层样式*/
.con_center{width:1100px;margin:80px auto 0;}
.popup-wrap .inner{padding:20px 25px 0;position:relative;}
.popup-wrap .popup-con,.popup-wrap .popup-con2,.popup-wrap .popup-con3{background-color:#ffffff;border-radius:8px;}
.popup-wrap .con-height1{width:600px;	/*height: 445px;*/}
.popup-wrap .popup-con .pop-title,.popup-wrap .popup-con2 .pop-title{font:normal 20px/60px "Microsoft YaHei";color:#333333;width:560px;text-indent:30px;border-bottom:1px solid #e5e5e5;display:inline-block;}
.popup-wrap ul.register{width:310px;margin:0 140px;padding-top:30px;}
.popup-wrap ul.register li,.popup-con2 ul.popLogin li{margin-bottom:16px;}
.popup-wrap ul.register li label,.popup-con2 ul.popLogin li label{width:90px;color:#666666;font:normal 14px "Microsoft YaHei";display:inline-block;vertical-align:middle;text-align:right;padding-right:10px;}
.popup-wrap ul.register li .ipt-box{vertical-align:middle;height:18px;width:260px;border:1px solid #d6d6d6;font:normal 14px/34px "Microsoft YaHei";color:#bfbfbf;border-radius:6px;line-height:18px;padding:8px 10px;}
.popup-wrap ul.register li .code{vertical-align:middle;width:98px;height:18px;padding:8px 10px;color:#bfbfbf;font:normal 14px/34px "Microsoft YaHei";border:1px solid #d6d6d6;border-radius:6px;line-height:18px;}
.popup-wrap ul.register li .PageNum{ display: inline-block; width: 70px; height: 30px; margin-left: 47px;}
.popup-wrap ul.register li .PageNum img{ width: 70px; height: 30px; margin-bottom: -14px;}
.popup-wrap ul.register .sure{display:inline-block;vertical-align:middle;height:18px;width:15px;margin-left:5px;background:url(http://imgs.xin.com/xin/images/popup/pop_icon.png) 0 0 no-repeat;}
.popup-wrap ul.register .tel-bg{background:url(http://imgs.xin.com/xin/images/popup/pop_icon.png) 255px -586px no-repeat;}
.popup-wrap ul.register .code-bg{background:url(http://imgs.xin.com/xin/images/popup/pop_icon.png) 255px -621px no-repeat;}
.popup-wrap ul.register li input.code{width:140px;}
.popup-wrap ul.register li input.getNum{height:35px;width:112px;margin-left:5px;border-radius:6px;text-align:center;cursor:pointer;color:#333333;background:#fff;border:1px solid #d6d6d6;font:normal 14px/33px "Microsoft YaHei";display:inline-block;}
.popup-wrap .btn-div{padding-bottom:25px;margin-left:140px;position:relative;}
.popup-wrap .btn-hcode{text-align:center;margin-top:20px;}
.popup-wrap .btn-div a.resBtn,.popup-wrap .btn-hcode a.resBtn{width:280px;height:35px;text-align:center;font:normal 16px/35px "Microsoft YaHei";color:#fff;display:inline-block;background:#ff5837;border-radius:6px;}
.ico_pop{background:url(http://imgs.xin.com/xin/images/popup/pop_icon.png) no-repeat  0 0;}
.popup-wrap .popup-con ul.register li span{height:22px;margin-left:10px;display:inline-block;}
.popup-wrap .popup-con ul.register li span.wrong{background-position:0 -42px;}
.popup-wrap .error{display:block;height:34px;width:280px;text-align:center;margin-top:16px;background:url(http://imgs.xin.com/xin/images/popup/pop_icon.png)  0 -875px no-repeat;font:normal 12px/35px "Microsoft YaHei";color:#ee394b;}
.popup-wrap .forget,.popup-wrap .forget a{width:auto;font:normal 16px "Microsoft YaHei";margin-left:4px;color:#adadad;}
.popup-wrap .con-height2{height:468px;width:560px;}
.popup-con2 ul.popLogin{width:480px;margin:0 auto;padding-top:35px;}
.popup-wrap .logintab{height:40px;width:280px;border-bottom:2px solid #e5e5e5;text-align:center;margin:20px auto 0;}
.popup-wrap .logintab a{display:inline-block;width:138px;font:normal 14px/40px "Microsoft YaHei";color:#999999;}
.popup-wrap .logintab a.active{border-bottom:2px solid #ff5837;color:#ff5837;}
.btn-div span{top:20px;color:#ff5500;font:normal 16px "Microsoft YaHei";position:absolute;right:90px;vertical-align:middle;display:block;}
.popup-con2 .tiptel{top:88px;left:122px;color:red}
.popup-con2 .tippw{top:154px;left:122px;color:red}
.popBot{width:560px;height:34px;}
.pophcar{width:480px;height:34px;}
.popBot,.pophcar{border-top:1px solid #ededed;padding:8px 0;bottom:0;background:#f7f7f7;border-radius:0 0 8px 8px;}
.popBot .readynum,.pophcar .readynum{text-align:center;}
.popBot .readynum span,.pophcar .readynum span{font:normal 14px/34px "Microsoft YaHei";color:#797979;}
.popBot .readynum a,.pophcar .readynum a{font:normal 14px/34px "Microsoft YaHei";color:#ff5837;}
.loginWith{margin-left:30px;}
.loginWith span{color:#3b3b3b;font:normal 16px/22px "Microsoft YaHei";vertical-align:middle;}
.loginWith a{width:33px;height:33px;display:inline-block;vertical-align:middle;margin-left:5px;}
.loginWith a.tqq{background-position:0 -83px;}
.loginWith a.tbd{background-position:0 -758px;}
.loginWith a.xwb{background-position:0 -126px;}
.forPass{vertical-align:middle;color:#adadad;margin-right:20px;}
.forPass a{font:normal 16px/33px "Microsoft YaHei";color:#adadad;padding:0 10px;}
.forPass a.noregist{color:#ff5837;border-left:1px solid #adadad;}
.con-height3{height:410px;width:560px;}
.passtab{display:inline-block;margin-left:20px;right:105px;top:37px;}
.passtab span{color:#999999;font:normal 14px/30px "Microsoft YaHei";}
.passtab span.active{color:#ff5837;}
.popup-con3 .pop-tit{text-indent:30px;color:#333;width:880px;border-bottom:1px solid #e5e5e5;font:normal 20px/60px "Microsoft YaHei";}
.con-height4{width:880px;height:500px;}
.xBtn{position:absolute;right:50px;top:40px;background-position:0 -385px;width:25px;height:25px;display:block;text-indent:-9999em;}
.pop_item{width:10000px;margin:10px 20px;height:344px;}
.pop_list{float:left;width:261px;border:1px solid #d9d9d9;border-radius:5px;position:relative;height:320px;margin:12px 8px;}
.pop_list:hover{border:2px solid #ff5837;margin:11px 7px;}
.pop_list a img{border-top-left-radius:4px;border-top-right-radius:4px;width:261px;height:174px;overflow:hidden;}
.pop_list .tips-2{background-position:0 -45px;color:#999999;height:120px;width:120px;right:70px;top:27px;text-align:center;font:normal 30px/120px "Microsoft YaHei";}
.pop_list .ico_pop{position:absolute;right:5px;top:5px;width:30px;height:30px;display:inline-block;background:url(http://imgs.xin.com/xin/images/collect/pic_del2.png) no-repeat center;}
.pop_list .ico_pop:hover{background:url(http://imgs.xin.com/xin/images/collect/pic_del1.png) no-repeat center;}
.pop_list .ico_hcar{width:53px;height:41px;position:absolute;left:10px;top:0;background:url(http://imgs.xin.com/xin/images/half/hnew_icon.png) no-repeat 0 -431px;}
.pop_list h3{margin:13px 10px;height:44px;overflow:hidden;}
.pop_list h3 a{font:normal 16px/23px "Microsoft YaHei";color:#252525;}
.pop_list span.price{display:block;color:#ff5837;font:bold 20px "Microsoft YaHei";padding-left:10px;}
.pop_list .csr-o,.pop_list .compar{margin:10px 10px 15px;overflow:hidden;border-top:1px solid #e5e5e5;}
.pop_list .compar{padding-top:1px;}
.pop_list .csr-o{width:240px;height:34px;font:normal 12px/34px "Microsoft YaHei";color:#999999;overflow:hidden;}
.pop_list .csr-o b{padding:0 8px;width:10px;height:34px;display:inline-block;}
.pop_list .car-w{width:90px;padding:6px 55px 0  0;float:left;}
.pop_list .fr{padding-top:6px;}
.pop_list .house{width:96px;height:33px;display:inline-block;}
.pop_list .house a{font:normal 14px/33px 'Microsoft Yahei';color:#666666;text-indent:30px;display:block;}
.pop_list .star{background-position:6px -452px;}
.pop_list .star:hover{background-position:6px -411px;color:#ff5837}
.pop_list .star.active{background-position:6px -372px;color:#ff5837}
.pop_list .addCar{color:#3b3b3b;text-align:center;padding-top:60px;font:normal 18px "Microsoft YaHei";}
.joinCom{margin:10px 28px;}
.joinCom a.conClear{background:url(http://imgs.xin.com/xin/images/collect/pic_del2.png) no-repeat 0 center;text-indent:25px;float:right;color:#3b3b3b;font:normal 16px/40px "Microsoft YaHei";}
.joinCom a.conCom{display:inline-block;width:120px;height:40px;background:#ff5837;text-align:center;font:normal 16px/40px "Microsoft YaHei";color:#fff;border-radius:6px;}
.pop_list ul a{text-align:right;}
.pop_list ul a{display:inline-block;float:right;padding-left:20px;color:#666;font:normal 14px "Microsoft YaHei";}
.pop_list ul a.comp{background-position:0 -269px;margin-right:15px;}
.pop_list ul a.collection{background-position:0 -302px;}
.poCon{padding-bottom:10px;overflow:hidden;width:856px;}
.ratioBtn{width:120px;height:40px;text-indent:38px;float:left;background-position:0 -810px;font:normal 16px/40px "Microsoft YaHei";color:#fff;margin-left:28px;border-radius:6px;display:block;}
.top-page{margin-top:0!important;}
.pageBtn{margin:0 auto;display:block;}
.pageBtn ol{float:left;}
.pageBtn ol li{float:left;width:10px;height:10px;background:url(http://imgs.xin.com/xin/images/popup/pop_icon.png) no-repeat 0 -213px;margin:9px 4px;cursor:pointer;}
.pageBtn ol li.active{background-position:0 -243px;}
.pageBtn span{width:17px;height:25px;display:inline-block;float:left;cursor:pointer;}
.pageBtn span.prev{background-position:0  -168px;}
.pageBtn span.next{background-position:0 -472px;}
.pageBtn span.prev:hover,.pageBtn span.prev:active{background-position:0 -518px;}
.pageBtn span.next:hover,.pageBtn span.next:active{background-position:0 -429px;}
.slidePic{position:relative;zoom:1;width:850px;height:445px;overflow:hidden;}
.slideRec{position:relative;zoom:1;width:1100px;overflow:hidden;}

/* 温馨提示弹框
----------------------------------*/
.tip-con{height:300px;width:500px;background-color:#ffffff;border-radius:8px;}
.tip-con p{background:url(http://imgs.xin.com/xin/images/popup/close_title.png) no-repeat;padding-left:15px;font:normal 16px/50px "Microsoft YaHei";color:#ffffff;height:50px;width:500px;border-radius:8px 8px 0 0;}
.tip-con img{margin:20px 40px 0 40px;float:left;vertical-align:middle;}
.tip-con .sus-tip{font:normal 24px/35px "Microsoft YaHei";color:#ff5837;margin-top:60px;width:300px;float:left;}
.tip-con span{margin-top:95px;}
.tip-con span,.tip-con .sh-tip,.tip-con .cj-tip{font:normal 16px/30px "Microsoft YaHei";color:#333333;display:inline-block;width:260px;vertical-align:middle;}
.tip-con .cj-tip{margin-top:60px;}
.tip-con .cj-tip em{color:#2293fb;}
.close_pop{height:50px;width:65px;display:inline-block;right:25px;top:20px;background:url(http://imgs.xin.com/xin/images/popup/close_btn1.png) no-repeat;}
.close_pop:hover{background:url(http://imgs.xin.com/xin/images/popup/close_btn.png) no-repeat;}
.tip-con a.btn_dload{display:block;height:40px;width:130px;float:left;margin-top:20px;font:normal 18px/40px "Microsoft YaHei";text-align:center;color:#fff;background:#ff5837;border-radius:4px;}

/* 温馨提示弹框 End
----------------------------------*/

/* 下载页面弹框
----------------------------------*/
.dload-con{width:660px;height:500px;background-color:#ffffff;border-radius:8px;}
.dload-con h2{font:normal 20px/50px "Microsoft YaHei";color:#666666;width:640px;margin:0 auto;height:50px;border-bottom:1px solid #e5e5e5;}
.xBtn2{position:absolute;right:55px;top:40px;background-position:0 -555px;width:20px;height:20px;display:block;text-indent:-9999em;}
.con-nav{width:660px;height:120px;padding-top:54px;}
.con-nav a{width:220px;height:120px;display:inline-block;float:left;cursor:pointer;}
.con-nav a.tab1{background:url(http://imgs.xin.com/xin/images/popup/android_ico.png) no-repeat center center;}
.con-nav a.tab2{background:url(http://imgs.xin.com/xin/images/popup/iPhone_ico.png) no-repeat center center;}
.con-nav a.tab3{background:url(http://imgs.xin.com/xin/images/popup/wap_ico.png) no-repeat center center;}
.con-nav a.tab1.active{background:url(http://imgs.xin.com/xin/images/popup/android2_ico.png) no-repeat center center;}
.con-nav a.tab2.active{background:url(http://imgs.xin.com/xin/images/popup/iPhone2_ico.png) no-repeat center center;}
.con-nav a.tab3.active{background:url(http://imgs.xin.com/xin/images/popup/wap2_ico.png) no-repeat center center;}
.TabCon{width:660px;height:220px;padding-top:55px;border-radius:0 0 8px 8px;}
.dload-con .c-con1{background:url(http://imgs.xin.com/xin/images/popup/code_bg1.png);}
.dload-con .c-con2{background:url(http://imgs.xin.com/xin/images/popup/code_bg2.png);}
.dload-con .c-con2 span{display:block;font:normal 30px/50px "Microsoft YaHei";color:#999;margin-top:50px;}
.dload-con .c-con3{background:url(http://imgs.xin.com/xin/images/popup/code_bg3.png);}
.dload-con .code-qr{height:190px;width:150px;margin-left:85px;float:left;}
.dload-con .code-qr img{height:150px;width:150px;}
.dload-con .code-qr p,.dload-con .code-edt p{font:normal 14px/24px "Microsoft YaHei";color:#999999;}
.dload-con .code-qr p{text-align:center;}
.dload-con .code-qr p,.dload-con .code-edt img{margin-top:5px;}
.dload-con .code-edt{width:300px;height:180px;margin-left:45px;padding-top:10px;float:left;}
.dload-con .code-edt a{display:block;height:52px;width:182px;padding-bottom:10px;font:normal 22px/52px "幼圆";text-align:left;padding-left:25px;color:#ffffff;background:url(http://imgs.xin.com/xin/images/download/down_icon.png) no-repeat;}

/* 下载页面弹框
----------------------------------*/

/*半价车页面弹框
----------------------------------*/
.hprice-pop{width:620px;height:550px;background-color:#fff;border-radius:8px;}
.hprice-pop h2{height:60px;font:normal 24px/60px 'Microsoft Yahei';color:#333;border-bottom:1px solid #e5e5e5;text-indent:30px;clear:both;}
.hprice-pop .hprice-con{height:420px;width:620px;padding-top:30px;overflow-y:scroll;position:relative;}
.hprice-con .cpic{width:540px;height:360px;display:block;margin:0 auto;}
.hprice-con .fpay{height:550px;width:540px;position:absolute;left:30px;top:303px;}
.hprice-con .fpay .txt{height:156px;width:176px;margin:0 auto;padding-top:20px;color:#fff;text-align:center;background:url(http://imgs.xin.com/xin/images/half/ring.png) no-repeat;}
.hprice-con .fpay .txt span,
.hprice-con .fpay .txt em{font:normal 20px/24px "Microsoft Yahei";}
.hprice-con .fpay .txt p{font:normal 40px/65px "Microsoft Yahei";}
.hprice-con .fpay .step{width:540px;height:417px;margin:0 auto;padding-top:30px;text-align:center;background:url(http://imgs.xin.com/xin/images/half/step_bg.png) no-repeat center 0;}
.hprice-con .fpay .step h3{font:normal 20px/56px "Microsoft Yahei";color:#7e2f00;}
.hprice-con .fpay .step ul{width:200px;height:330px;margin:32px 35px 0;float:left;} 
.hprice-con .fpay .step ul li{height:68px;width:200px;margin-top:30px;padding-top:12px;}
.hprice-con .fpay .step ul li p{font:normal 20px/28px "Microsoft Yahei";color:#7e2f00;}
.hprice-con .fpay .step ul li p u{color:#ff5837;}
.hprice-con .fpay .supply{width:540px;margin:40px auto 0;}
.hprice-con .fpay .supply li{font:normal 20px/24px "Microsoft Yahei";color:#666;margin-top:20px;background:url(http://imgs.xin.com/xin/images/half/dot_pic.png) no-repeat 0 9px;}
.hprice-con .fpay .supply li p{margin-left:20px;}
.hprice-con .fpay .path{width:540px;text-align:center;margin:20px auto 40px;}
.hprice-con .fpay .path h4{font:normal 28px/56px "Microsoft Yahei";color:#7e2f00;height:56px;margin-bottom:30px;background:url(http://imgs.xin.com/xin/images/half/h4_bg.png) no-repeat center;}
.hprice-con .fpay .path span{font:normal 24px/40px "Microsoft Yahei";color:#7e2f00;display:block;}
.hprice-con .fpay .path em{font:normal 20px/40px "Microsoft Yahei";color:#666;display:block;}
.hprice-con .fpay a.audit-on{width:540px;height:68px;display:inline-block;margin-top:30px;font:normal 30px/68px "Microsoft Yahei";color:#fff;background:#ff5837;text-align:center;border-radius:4px;webkit-border-radius:4px;}
.hprice-con .fpay a.audit-ing{width:540px;height:68px;display:inline-block;margin-top:30px;font:normal 30px/68px "Microsoft Yahei";color:#fff;background:#c3c3c3;text-align:center;border-radius:4px;webkit-border-radius:4px;}
.hprice-con .hcar-msg{text-align:center;}
.hprice-con .hcar-msg p{color:#333;font:normal 20px/35px "Microsoft YaHei";text-indent:20px;}
.hprice-con .hcar-msg{text-align:center;}
.hprice-con .hcar-msg ul{margin:30px auto;width:504px;height:130px;}
.hprice-con .hcar-msg li{width:168px;height:130px;float:left;}
.hprice-con .hcar-msg li span{color:#666;margin-top:14px;font:normal 20px/24px "Microsoft YaHei";display:block;}
.hprice-con .hcar-msg li em{color:#999;font:normal 20px/24px "Microsoft YaHei";display:block;}
.hprice-con .tel{width:270px;height:27px;margin:0 auto;text-indent:40px;font:normal 20px/27px "Microsoft YaHei";color:#666;background:url(http://imgs.xin.com/xin/images/half/phone.png) no-repeat;}

/*半价车页面弹框新============
----------------------------------*/
.hpop-new{height:500px;width:795px;padding-top:50px;background-color:#f6f4f1;border-radius:8px;}
.hpop-new img{display:block;margin:0 auto;}
.hpop-new .hpop-pic{height:460px;width:741px;overflow-y:scroll;margin:0 auto;}
.hpop-new .hpop-pic a.h-btn{display:block;width:200px;height:55px;text-align:center;font:normal 30px/55px "Microsoft YaHei";border-radius:6px;background:#ff5837;color:#fff;margin:20px auto;}
.hpop-new .hpop-con{width:720px;text-align:center;}
.hpop-new .hpop-con h1{width:600px;height:150px;display: inline-block;font:bold 32px/150px "Microsoft YaHei";color:#7b5336;background:url("http://imgs.xin.com/xin/images/half/header_bg.png") no-repeat;}
.hpop-new .hpop-con p{width:550px;display: inline-block;font:normal 24px/46px "Microsoft YaHei";color:#585858;}
.hpop-new .hpop-pic ul{width:600px;margin:0 auto;}
.hpop-new .hpop-pic ul li{height:160px;width:600px;margin-top:40px;display:inline-block;}
.hpop-new .hpop-pic ul img{width:200px;height:160px;float:left;}
.hpop-new .hpop-pic ul .txt{width:345px;float:right;display:inline-block;vertical-align:middle;}
.hpop-new .hpop-pic ul .txt p{font:normal 26px/68px "Microsoft YaHei";height:68px;color:#eba205;}
.hpop-new .hpop-pic ul .txt span{font:normal 18px/28px "Microsoft YaHei";color:#585858;}
/* 半价车页面弹框
----------------------------------*/

/*详细页图集效果 Play*/

.banner-box{width:1080px;height:550px;position:relative;overflow:hidden;}
.banner-box .bd{width:780px;height:520px;margin:0 auto;}
.banner-box .bd li{width:100%!important;height:550px;position:relative;}
.banner-box .bd li a{width:780px;height:520px;display:block;}
.banner-box .bd li img{height:520px;}
.banner-box .bd li em{position:absolute;bottom:0;font:normal 16px/20px 'Microsoft Yahei';color:white;width:200px;}
.banner-box .prev,.banner-box .next{display:block;width:60px;height:120px;overflow:hidden;cursor:pointer;background:url("http://imgs.xin.com/xin/images/popup/carImgbg.png") no-repeat;position:absolute;top:38%;text-indent:-99999em;}
.banner-box .prev{background-position:0 0;left:0;}
.banner-box .next{background-position:0 -240px;right:0;}
.banner-box .prev:hover{background-position:0 -120px}
.banner-box .next:hover{background-position:0 -360px}
.banner-box .pageState{position:absolute;right:150px;bottom:0;font:normal 16px/20px 'Microsoft Yahei';color:white;}
.carGb{width:40px;height:40px;position:absolute;z-index:100;right:100px;top:-20px;text-indent:-9999em;display:block;background:url("http://imgs.xin.com/xin/images/popup/carImgbg.png") 0 -528px no-repeat;}
.carGb:hover{background-position:0 -621px}

/*详细页图集效果 Stop*/

/*车辆关键部位 Play*/
.key-position{width:720px;height:560px;background:#fff;border-radius:6px;}
.key-position p{text-indent:30px;color:#333;border-bottom:1px solid #e5e5e5;font:normal 20px/60px "Microsoft YaHei";}
.key-position img{margin:30px 30px 0;}
.key-position .txt{margin:30px auto 0;padding:0 30px;height:60px;}
.key-position .txt span{display:block;float:left;height:48px;width:40px;padding:6px 10px;font:normal 20px/24px 'Microsoft Yahei';color:#fff;text-align:center;background:#32b16c;border-radius:4px;}
.key-position .txt ul{float:left;margin-left:15px;}
.key-position .txt ul li{height:20px;font:normal 14px/20px 'Microsoft Yahei';color:#666;}

/*车辆关键部位 Stop*/

/*检测报告 Play*/
.text-item,.car-item,.store-con{width:720px;background:#fff;border-radius:6px;}
.text-item p,.car-item p,.motor-item p,.store-con p{height:60px;font:normal 24px/60px 'Microsoft Yahei';color:#333;border-bottom:1px solid #e5e5e5;text-indent:30px;clear:both;}
.text-item span,.car-item span{font:normal 20px/30px 'Microsoft Yahei';display:block;color:#333;width:600px;height:30px;margin:30px auto 10px;}
.text-item ul{width:540px;margin:20px auto 40px;background:#fbfbfb;border:1px solid #e5e5e5;padding:10px 30px;}
.text-item ul li{height:40px;font:normal 16px/40px 'Microsoft Yahei';color:#666;text-indent:20px;background:url("http://imgs.xin.com/xin/images/popup/pop_icon.png") 0 12px no-repeat;}

/*检测报告 Stop*/

/*半价车 Play*/
.popup-wrap .con-hcar{width:480px;height:380px;}
.popup-wrap .con-htel{width:480px;height:340px;}
.popup-wrap .con-hcar .pop-title{background:url(http://imgs.xin.com/xin/images/half/hnew_icon.png)  0 -492px no-repeat;padding-left:50px;margin:15px 25px;}
.popup-wrap .code_num{display:block;margin:60px auto 0;}
.popup-wrap .code_invit{display:block;margin:0 auto;}
.popup-wrap .code_num,.popup-wrap .code_name,.popup-wrap .code_invit{vertical-align:middle;height:18px;width:220px;border:1px solid #d6d6d6;font:normal 14px/34px "Microsoft YaHei";color:#333;border-radius:6px;line-height:18px;padding:8px 10px;}
.popup-wrap .error_num{display:block;height:34px;width:280px;text-align:center;margin:20px auto 0;background:url(http://imgs.xin.com/xin/images/popup/pop_icon.png)  0 -875px no-repeat;font:normal 12px/35px "Microsoft YaHei";color:#ee394b;}
.popup-wrap .btn-hcar a.resBtn{padding:0 35px;height:35px;text-align:center;font:normal 16px/35px "Microsoft YaHei";color:#fff;display:inline-block;margin-left:135px;background:#ff5837;border-radius:6px;}
.popup-wrap .con-hcar .hc-txt{display:block;width:240px;height:85px;margin:0 auto;font:normal 14px/35px "Microsoft YaHei";color:#666;}
.popup-wrap .con-hcar p{display:block;margin:50px auto 0;text-align:center;font:normal 14px/35px "Microsoft YaHei";color:#333;}

/*半价车 Stop*/

/*车身外部检测*/
.car-item{width:720px;background:#fff;border-radius:6px;}
.ext-detect{width:720px;height:420px;margin-bottom:30px;overflow-y:scroll;}

/*20150506更新*/
.ext-detect .d-detect{width:600px;display:block;background:#fbfbfb;margin:20px auto;border:1px solid #e5e5e5;border-radius:4px;}
.ext-detect .d-detect h5{width:560px;height:50px;margin:0 auto;font:normal 18px/50px 'Microsoft Yahei';color:#333;border-bottom:1px solid #e5e5e5;color:#333;}
.ext-detect .d-detect ul{width:600px;display:block;font:normal 16px/40px 'Microsoft Yahei';color:#666;}
.ext-detect .d-detect li{width:200px;height:40px;float:left;background:url("http://imgs.xin.com/xin/images/popup/pop_icon.png") 30px 12px no-repeat;text-indent:50px;}

/*征信查询*/
.popup-wrap .member{width:560px;height:200px;margin:60px auto;text-align:center;}
.popup-wrap .br-btm{border-bottom:1px dashed #e5e5e5;}
.popup-wrap .member p{font:normal 18px/36px 'Microsoft Yahei';color:#333;}
.popup-wrap .member em{color:#ff5837;}
.popup-wrap .member a{background:#ff5837;color:#fff;font:normal 16px/35px "Microsoft YaHei";margin-top:50px;display:inline-block;height:35px;width:180px;border-radius:4px;}

/*十佳发动机*/
.motor-item{width:660px;background:#fff;border-radius:6px;}
/*详细页图集效果 Play*/

.motor-list{width:660px;height:470px;margin-top:30px;position:relative;overflow:hidden;}
.motor-list .bd{width:480px;height:470px;margin:0 auto;}
.motor-list .bd li{width:100%!important;position:relative;}
.motor-list .bd li a.pic{height:320px;width:480px;display:block;margin:0 auto;}
.motor-list .bd li a.check{position:absolute;top: 430px;width:100px;left:475px;font:normal 14px/24px 'Microsoft Yahei';color:#ff5837;}
.motor-list .bd li img{height:320px;width:480px;display:block;margin:0 auto;}
.motor-list .bd li em{position:absolute;top:350px;left:-60px;text-indent:2rem;font:normal 14px/24px 'Microsoft Yahei';color:#666;width:600px;height:72px;overflow-y:scroll;}
.motor-list .prev,.motor-list .next{display:block;width:29px;height:54px;overflow:hidden;cursor:pointer;position:absolute;top:24%;text-indent:-99999em;}
.motor-list .prev{background:url("http://imgs.xin.com/xin/images/car-detail/l_normal.png") no-repeat;left:30px;}
.motor-list .next{background:url("http://imgs.xin.com/xin/images/car-detail/r_normal.png") no-repeat;right:30px;}
.motor-list .prev:hover{background:url("http://imgs.xin.com/xin/images/car-detail/l_hover.png") no-repeat;}
.motor-list .next:hover{background:url("http://imgs.xin.com/xin/images/car-detail/r_hover.png") no-repeat;}
.motor-list .pageState{position:absolute;right:150px;bottom:0;font:normal 16px/20px 'Microsoft Yahei';color:white;}
.carGb{width:40px;height:40px;position:absolute;z-index:100;right:100px;top:-20px;text-indent:-9999em;display:block;background:url("http://imgs.xin.com/xin/images/popup/carImgbg.png") 0 -528px no-repeat;}
.carGb:hover{background-position:0 -621px}

/*更改地点*/
.store-con{height:510px;}
.store-con ul{width:660px;height:350px;border-bottom:1px solid #e5e5e5;padding:20px 30px;overflow-y:scroll;overflow-x:hidden;}
.store-con ul li{height:36px;width:660px;border:1px solid #fff;}
.store-con ul li input{margin-left:10px;}
.store-con ul li:hover{border:1px solid #32b16c;background:#fcfffd;border-radius:2px;webkit-border-radius:2px;}
.store-con ul li label{font:normal 16px/34px "Microsoft Yahei";color:#666;}
.store-con a.sure-btn{display:block;margin:13px auto;height:34px;font:normal 16px/34px "Microsoft Yahei";width:94px;background:#ff5837;color:#fff;text-align:center;border-radius:4px;webkit-border-radius:4px;}

/*预约成功失败*/
.suc-con,.fail-con{width:400px;height:240px;padding:40px 50px;background:#fff;border-radius:8px;position:relative;}
.suc-con img,.fail-con img{float:left;}
.suc-con p,.fail-con p{width:250px;float:left;margin:50px 0 0 30px;font:normal 24px/40px "Microsoft Yahei";color:#ff5837;}
.suc-con em,.fail-con em{font:normal 16px/30px "Microsoft Yahei";color:#666;float:left;display:block;margin-left:30px;}
.suc-con a{display:block;width:100px;height:34px;font:normal 16px/34px "Microsoft Yahei";background:#ff5837;color:#fff;text-align:center;border-radius:4px;webkit-border-radius:4px;position:absolute;bottom:35px;left:200px;}
.suc-con a.ex-detail{color:#ff5837 !important;font:normal 16px/34px "Microsoft Yahei";display:inline;}
.fail-con a.btn{display:block;width:100px;height:34px;font:normal 16px/34px "Microsoft Yahei";background:#ff5837;color:#fff;text-align:center;border-radius:4px;webkit-border-radius:4px;position:absolute;bottom:35px;left:200px;}
.fail-con a.ex-detail{color:#ff5837;text-decoration:underline;font:normal 16px/34px "Microsoft Yahei";display:inline;}

/*预约等待进度条*/
.pbar .ui-progressbar-value{display:block!important}
#progress1 .ui-widget-content{background:url(http://imgs.xin.com/xin/images/order/loading_bg.png) 50% top repeat-x;}
.ui-widget-header{background:url(http://imgs.xin.com/xin/images/order/loading.png) 0 0 repeat-x;}
.ui-progressbar{height:40px;width:242px;}
.ui-progressbar .ui-progressbar-value{height:100%;}
.pbar{position:relative;height:40px;width:242px;}
.pbar img{position:absolute;left:0;top:0;}
.pbar span{position:absolute;left:46px;top:0;font:normal 14px/40px "Microsoft Yahei";color:#fff;}