<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    <!-- 登录的spring -->
 
	<bean id="testAction" class="com.icss.action.TestAction">
		<property name="testService" ref="testService"></property>
	</bean>
	 
	<bean id="searchAction" class="com.icss.action.SearchTest">
		<property name="testService" ref="testService"></property>
	</bean>
	<bean id="searchSaleCarAction" class="com.icss.action.SearchSaleCarAction">
		<property name="visitorService" ref="visitorService"></property>
	</bean>
	<!-- ly -->
	<bean id="merchantsapplyAction" class="com.icss.action.MerchantsapplyAction">
		<property name="businessService" ref="businessService"></property>
	</bean>
	<!-- 查询全部员工的bean -->
	<bean id="empAction" class="com.icss.action.EmpAction">
		<property name="adminService" ref="adminService"></property>
	</bean>
	<!-- 查询某一个员工的bean -->
	<bean id="empAction1" class="com.icss.action.EmpAction">
		<property name="adminService" ref="adminService"></property>
	</bean>
	<!-- 修改bean  -->
	<bean id="empAction2" class="com.icss.action.EmpAction">
		<property name="adminService" ref="adminService"></property>
	</bean>
	<!-- 删除bean  -->
	<bean id="empAction3" class="com.icss.action.EmpAction">
		<property name="adminService" ref="adminService"></property>
	</bean>
	
	<bean id="CheckerAction" class="com.icss.action.EmpAction">
		<property name="adminService" ref="adminService"></property>
	
	</bean>
	
</beans>