<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<!-- 定义声明事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!-- 定义事务的传播特性 -->
    <tx:advice id="txAdvice">
       <tx:attributes>
      	   <tx:method name="insert*" propagation="REQUIRED" />
           <tx:method name="add*" propagation="REQUIRED" />
           <tx:method name="edit*" propagation="REQUIRED" />
           <tx:method name="delete*" propagation="REQUIRED" />
           <tx:method name="update*" propagation="REQUIRED" />
     	 	<tx:method name="find*" propagation="REQUIRED" />
       </tx:attributes>
    </tx:advice>
     <!-- 配置事务切面 -->
    <aop:config>
        										<!--    表示所有的service都有切点 -->
        <aop:pointcut expression="execution(* com.icss.service.impl.*.*(..))" 
            id="txPointcut"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />
    </aop:config>
    
	<bean id="testService" class="com.icss.service.impl.TestService">
		<property name="testDao" ref="testDao"></property>
	</bean>
	<!-- 吴志浩游客 -->
	<bean id="visitorService" class="com.icss.service.impl.VisitorService">
		<property name="carDao" ref="carDao"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<!-- 用户 -->
	
	
	<!-- 商家 -->
	
	
	
	<!-- 后台管理员 -->
	<bean id="adminService" class="com.icss.service.impl.AdminService">
		<property name="merchantsStoreDao" ref="merchantsStoreDao"></property>
		<property name="merchantsStoreDao_auditDao" ref="merchantsStoreDao_auditDao"></property>
	</bean>
	

</beans>