<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    <!-- 登录的spring -->
 	<!-- 测试放在这 -->
	<bean id="testAction" class="com.icss.action.TestAction">
	</bean>
	 
	<bean id="searchAction" class="com.icss.action.SearchTest">
	</bean>
	<bean id="searchSaleCarAction" class="com.icss.action.SearchSaleCarAction">
		<property name="visitorService" ref="visitorService"></property>
	</bean>
	
	<!-- 志浩游客 -->
	<bean id="loginAction" class="com.icss.action.LoginAction">
		<property name="visitorService" ref="visitorService"></property>
	</bean>
	<!-- 用户 -->
	
	
	<!-- 商家 -->
	
	
	<!-- 管理员后台 -->
	<bean id="findMerStoreAction" class="com.icss.action.FindMerStoreAction">
		<property name="adminToMerStoreService" ref="adminToMerStoreService"></property>
	</bean>
	<bean id="findMerStore_auditAction" class="com.icss.action.FindMerStore_auditAction">
		<property name="adminToMerStoreService" ref="adminToMerStoreService"></property>
	</bean>
	<bean id="doMer_auditAction" class="com.icss.action.DoMer_auditAction">
		<property name="adminToMerStoreService" ref="adminToMerStoreService"></property>
	</bean>
	<bean id="findAllsaleCarsAction" class="com.icss.action.FindAllsaleCarsAction">
		<property name="adminToSaleCarService" ref="adminToSaleCarService"></property>
	</bean>
	
	
</beans>