.reback_top{position: fixed;right: 80px;bottom: 20px;}

.input_txt{
	width:198px;
	border:solid 1px #ccc;
	box-shadow:0 1px 10px;
	rgba(0,0,0,0.1) inset;
	height:38px;
	text-indent:10px;
	}
	
table{
	margin: 100px 0 100px 320px;
	height: 350px;
	width: 380px;
	
}

label{
	font-family: "微软雅黑";
	height: 30px;
	width: 65px;
	text-align: center;
}

.td{
	font-family: "微软雅黑";
	text-align: center;
}

#footer{ clear:both;height: 120px; text-align:center;}
	#footer p{ font:14px/24px Arial; color:#999;}
	#footer p.copyright{ color:#999; margin-top:10px;}
	

.SentTit {
    background: rgba(0, 0, 0, 0) url("http://imgs.xin.com/apply/images/s_tit.jpg") no-repeat scroll center 0;
    height: 600px;
    min-width: 1200px;
    position: relative;
    width: 100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, span, i, b {
    margin: 0;
    padding: 0;
}

a {
    outline: medium none;
    text-decoration: none;
}

.STcenter {
    height: 364px;
    margin: 0 auto;
    padding-top: 118px;
    width: 1200px;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.stleft {
    float: left;
    height: 364px;
    width: 702px;
}

.stleft .nowbtn {
    background: #ff5837 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font: 24px/54px "Microsoft YaHei";
    height: 54px;
    text-align: center;
    width: 200px;
}
a {
    outline: medium none;
    text-decoration: none;
}
