@charset "utf-8";

/* CSS Document */
body,ul,li {
	margin: 0;
	padding: 0;
}

body {
	font-family: sumsun, arial;
	background: #FFFFFF;
}

.gover_search {
	position: relative;
	z-index: 99;
	height: 50px;
	border: 1px solid #b8cfe6;
	border-bottom: 0;
}

.gover_search_form {
	height: 50px;
}

.gover_search .input_search_brandkey {
	
	width: 200px;
	height: 30px;
	margin-right: 20px;
	background: #FFFFFF;
}

.gover_search .input_search_serieskey {
	
	width: 200px;
	height: 30px;
	margin-right: 0px;
	background: #FFFFFF;
}

.gover_search .search_btn {
	float: left;
	width: 136px;
	height: 46px;
	overflow: hidden;
	border: 5px solid #ff8040;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
}

.gover_search .search_suggest {
	position: absolute;
	z-index: 999;
	left: 270px;
	top: 90px;
	width: 300px;
	display: none;
	border: 5px solid #ff8000;
	z-index: 999;
}